/* Кнопка с оформлением Яндекса. */
.yandex_button {
    padding-left: 50px;
    border: 1px solid #FFCC00;
    background-color: #FFCC00;
    background-image: url(/images/yadisk.svg);
    background-position: 10px;
    background-repeat: no-repeat;
}

/* Превью в списке файлов. */
.file-list__preview-image {
    height: 200px;
}

/* Превью на странице просмотра. */
.file-image__image {
    width: 95%;
    max-height: 75%;
}